node_modules/
dist/
core/dist/
store/dist/
_docs/ui/gutenberg-trunk
.env
.env.*
!.env.example
/plugins-runtime/
/data/
coverage/
.DS_Store
.tmp
*.jpg
*.png
!banner.png

GENERATION_LIST.md
.claude


# Playwright cli
.playwright-cli
editor-snapshot.yaml
editor-snapshot.yml
wiz.yml
wiz.yaml
hp-*.yaml
hp-*.yml
hp*.yaml
hp*.yml
_docs/PLAYWRIGHT/**/_raw/
